<div class="container-fluid">
  <div style="height: 200px;"></div>
  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h2 class="text-center">Nasi pracownicy</h2>
    <hr>

    <div class="row bg-primary p-1 rounded" style="height: 50px;">
      <div class="col">
        <button id="allUsers" type="button" class="btn p-1 btn-primary getUsersButton" (click)="getAllUsers('allUsers')">Wszystkie</button>
      </div>
      <div *ngFor="let department of departmentResponse.data">
        <div class="col">
          <button id="{{department.id}}" type="button" class="btn btn-primary p-1 getUsersButton"
            (click)="getUsersByIdDepartment(department.id, department.id)">{{department.departmentName}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="isAuthorized" class="row p-1 mt-2 d-flex align-items-center justify-content-center rounded">
      <button id="addNewUser" class="text-light rounded"  data-toggle="modal" data-target="#addNewUserModal"><i class="bi bi-plus-circle-fill"></i> Dodaj nowego użytkownika</button>
    </div>

    <div *ngIf="userResponse.succeeded" class="row">

      <div *ngIf="userResponse.data.length == 0" class="m-3 bg-dark text-danger d-flex align-items-center justify-content-center rounded">
        <h2 class="text-center">Nie znaleziono użytkowników do wyświetlenia!</h2>
      </div>

      <div *ngFor="let person of userResponse.data">

        <a class="btn m-2 hover-overlay" role="button" data-toggle="modal" href="#showUserDetailsModal_{{person.id}}">
          <img [src]="photoBaseAddress + person.photoName" class="card-img-top" alt="person" style="height: 200px; width: 360px;">
          <div class="card-body bg-warning">
            <p class="card-text text-center h5" id="personName">{{person.userName}} {{person.userLastName}}</p>
          </div>
        </a>

        <div class="modal fade" id="showUserDetailsModal_{{person.id}}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h5 class="modal-title">{{person.userName}} {{person.userLastName}}</h5>
                <button type="button" class="btn btn-close float-right" data-dismiss="modal">X</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col text-light">
                    <ul>
                      <li>Dział: {{person.department}}</li>
                      <li>Stanowisko: {{person.position}}</li>
                    </ul>
                  </div>
                  <div class="col text-light">
                    <ul>
                      <li>Emial: {{person.email}}</li>
                      <li>Telefon: {{person.phoneNumber}}</li>
                    </ul>
                  </div>
                </div>
                
                <div *ngIf="userId != person.id" class="row mt-1 d-flex align-items-center justify-content-center rounded">
                  <button class="btn-primary text-light rounded" aria-current="page" routerLink="/chat">Rozmawiaj z użytkownikiem</button>
                </div>

                <div class="row mt-3">
                  <div class="col d-flex justify-content-start">
                    <div class="mr-2 text-success rounded border-0 cursorPointer" title="Edytuj informacje o pracowniku">
                      <i class="bi bi-pencil-fill"> Edytuj</i>
                   </div>
                  </div>
                  <div class="col d-flex justify-content-end">
                    <div class="mr-2 text-danger rounded border-0 cursorPointer" title="Zwolnij pracownika" (click)="releaseUser(person.id)">
                      <i class="bi bi-trash-fill"> Zwolnij</i>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="collapseCard_{{person.id}}" class="card card-body collapse bg-dark">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNewUserModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj nowego użytkownika</h5>
        <button type="button" class="btn btn-close float-right" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
          <app-add-new-user></app-add-new-user>
      </div>
    </div>
  </div>
</div>