<div class="container-fluid">
<div style="height: 200px;">Nasi</div>
  <div class="col-7 align-self-center mb-5" style="margin: auto;">
    <h2 class="text-center">Nasi pracownicy</h2>
    <hr>
    <div class="row bg-primary p-1" style="height: 50px;">
        <div *ngFor="let department of departmentResponse.data">
          <div class="col">
            <button type="button" class="btn btn-primary">{{department.departmentName}}</button>
          </div>
        </div>
    </div>
    <div class="row">
      <!-- <div class="card m-2 hover-overlay" style="width: 15rem;" *ngFor="let person of persons | async" [routerLink]="['/persondetails', person.id]">
        <img [src]="'../../../assets/Images/People/' + person.photoName" class="card-img-top" alt="person" style="height: 160px;">
        <div class="card-body bg-warning">
          <p class="card-text text-center h5" id="personName">{{person.userName}} {{person.userLastName}}</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
