<!-- <form #newUserForm="ngForm">

</form> -->

<div class="container register-form">
    <div class="form">
        <div class="form-content">
            <div class="row">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Imię *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nazwisko *" value=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Data urodzenia *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Dział *" value=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Stanowisko *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rola *" value=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Numer telefonu" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" value=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zdjęcie *" value=""/>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Dodaj użytkownika</button>
        </div>
    </div>
    <hr />
    <div class="row">
       <h6>* pole wymagane</h6>
    </div>
</div>