<div class="container-fluid mb-5 p-5">

    <div *ngIf="userVacationInfoResponse.succeeded" class="col-7 align-self-center mb-5 mt-5 p-5" style="margin: auto;">
        <h2>Informacje na temat dni urlopowych</h2>
        <div class="row">
            <div class="col mt-2">
                <div class="row text-center">
                    <div class="col border border-success rounded p-1">
                        <label>Dostępne dni za obecny rok</label>
                        <br />
                        <strong>{{userVacationInfoResponse.data.vacationDaysThisYear}}</strong>
                    </div>

                    <div class="col border border-primary rounded ml-2 p-1">
                        <label>Dostępne dni za poprzedni rok</label>
                        <br />
                        <strong>{{userVacationInfoResponse.data.vacationDaysLastYear}}</strong>
                    </div>

                    <div class="col border border-danger rounded ml-2 p-1">
                        <label>Dni we wnioskach</label>
                        <br />
                        <strong>{{userVacationInfoResponse.data.vacationDaysInRequests}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5 d-flex align-items-center justify-content-center">
            <button id="addNewRequest" class="text-light rounded" data-toggle="modal"
                data-target="#addNewRequestModal"><i class="bi bi-plus-circle-fill"></i> Wypisz wniosek
                urlopowy</button>
        </div>
        <div class="row">
            <div class="col-10">
                <h3>Wnioski urlopowe w roku {{thisYear}}</h3>
            </div>
            <div class="col-2">
                <select (change)="loadRequests($event.target.value)" id="yearsSelect" class="rounded">
                    <option *ngFor="let year of years">{{year}}</option>
                </select>
            </div>
            <div class="row" *ngIf="userRequestsForLeaveResponse.succeeded">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Od kiedy</th>
                            <th scope="col">Do kiedy</th>
                            <th scope="col">Ilość dni</th>
                            <th scope="col">Status wniosku</th>
                            <th scope="col">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of userRequestsForLeaveResponse.data; let number = index">
                            <th scope="row">{{number + 1}}</th>
                            <td>{{request.startDate}}</td>
                            <td>{{request.endDate}}</td>
                            <td>{{request.totalDays}}</td>
                            <td *ngIf="request.status == forConsiderationStatus" class="text-light">
                                {{request.statusDescription}}</td>
                            <td *ngIf="request.status == acceptedBySupervisorStatus" class="text-success">
                                {{request.statusDescription}}</td>
                            <td *ngIf="request.status == rejectedBySupervisorStatus" class="text-danger">
                                {{request.statusDescription}}</td>
                            <td *ngIf="request.status == removedByUserStatus" class="text-info">
                                {{request.statusDescription}}</td>
                            <td>
                                <div class="mr-2 text-primary rounded border-0 cursorPointer"
                                    *ngIf="request.status == forConsiderationStatus"
                                    (click)="removeRequest(request.idRequest)" title="Wycofaj wniosek">
                                    <i class="bi bi-arrow-counterclockwise"> Wycofaj wniosek</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3" *ngIf="!userRequestsForLeaveResponse.succeeded">
            <br /><br />
            {{userRequestsForLeaveResponse.message}}
        </div>

        <div class="modal fade" id="addNewRequestModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title">Wypisz wniosek urlopowy</h5>
                        <button type="button" class="btn btn-close float-right" data-dismiss="modal">X</button>
                    </div>
                    <div class="modal-body">
                        <app-add-new-request></app-add-new-request>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>