<footer class="footer bg-success text-white">
  <div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <span> {{ footerText }} </span>
</div>
<div class="row d-flex justify-content-center bg-dark">
  <ul id="horizontal">
    <li>
     <a target="_blank" routerLink="/privacy-policy"> Polityka prywatności </a>
    </li>
    <li>
      <a target="_blank" routerLink="/processing-of-personal-data">Przetwarzanie danych osobowych</a>
    </li>
  </ul>
</div>
</div>
</footer>
