#userConversation {
    background: transparent !important;
    border: none;
    outline: none;
}

#userConversation:hover {
    color: #fd7e14 !important;
}

#userConversation:focus, #addNewUser:active {
    border: none;
    outline: none;
}

.reverse {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}