#userConversation {
    background: transparent !important;
    border: none;
    outline: none;
}

#userConversation:hover {
    color: #fd7e14 !important;
}

#userConversation:focus, #addNewUser:active {
    border: none;
    outline: none;
}

#messagesList, #messagesList:not(#noMessages) {
    height: 500px;
    overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

/* #messagesList {
    height: 500px; 
    overflow-y: scroll;
} */