#imgLogo:hover {
    cursor: pointer;
    border: none;
}
  
#imgLogo:focus {
    outline: none;
}

ul > li > a:hover {
    color: #343a40;
}

.navbar
{
    position: fixed;
    display:inline-block;
    z-index:2;
}
 
.navbar-toggler 
{
  background-color:gray;
}
     
ul > li > a {
  color: white;
}

@media (max-width: 767px) {
  ul > li > a {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  ul > li > a {
    font-weight: bold;
    font-size: medium;
  }
}
 
#menuList, #topNav, #formLogin {
  background-color: #111827;
}

.activeLink:hover {
  color: #fd7e14 !important;
}


.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

  .icon-button:hover {
    cursor: pointer;
  }

  .icon-button:active {
    background: #cccccc;
  }

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: #d9534f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-button__badge-zero {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: #5cb85c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}