<nav id="menuList" class="navbar navbar-expand-xl navbar-dark bg-success sticky-top fixed-top"> 
    <div class="container-fluid">
      <img id="imgLogo" class="navbar-brand rounded float-right" data-target=".navbar-collapse" style="width: 200px;"
           src="../../../assets/Images/logo.png" alt="logo" routerLink="/home"/>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" 
      aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarmenu">
        <ul class="navbar-nav text-center">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"
               routerLink="/">Sprzęt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" aria-current="page"
               routerLink="/personslist">Pracownicy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" aria-current="page"
               routerLink="/">Wiadomości</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse" aria-current="page"
               routerLink="/">Praca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"
               routerLink="/">Wypisz urlop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"
               routerLink="/">Twoje zadania</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse"
               routerLink="/">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
