<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong bg-secondary" style="border-radius: 1rem;">
            <form #loginForm="ngForm" (ngSubmit)="logIn()" class="card-body p-5 text-center">
  
              <h3 class="mb-5">LOGOWANIE</h3>
              <div class="form-outline mb-4">
                <label class="form-label" for="login">Login</label>
                <input id="login" class="form-control form-control-lg" type="text" required />
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Hasło</label>
                <div class="md-form input-group mb-3">
                    <input id="password" class="form-control form-control-lg" [type]="passwordType" required />
                   <div class="input-group-append changeBackgroundColor" *ngIf="hiddenPassword" title="Pokaż hasło" (click)="showPassword()">
                     <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-fill"></i></span>
                   </div>
                   <div class="input-group-append changeBackgroundColor" *ngIf="!hiddenPassword" title="Ukryj hasło" (click)="hidePassword()">
                    <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-slash-fill"></i></span>
                  </div>
                 </div>
              </div>
              
              <!-- <button class="btn btn-success btn-lg btn-block" type="submit" [disabled] = "!loginForm.valid" (click)="logIn()">Zaloguj się</button> -->
              <button class="btn btn-success btn-lg btn-block" type="submit" [disabled] = "!loginForm.valid">Zaloguj się</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
