<section class="vh-100 mt-5 p-5">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div id="changePasswordForm" class="card shadow-2-strong bg-dark" style="border-radius: 1rem;">
            <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(oldPassword.value, newPassword.value, confirmPassword.value)" class="card-body p-5 text-center shadow">
  
              <h3 class="mb-4 text-light">Zmień hasło</h3>
              <div class="form-outline mb-4">
                <label class="form-label text-light" for="oldPassword">Aktualne hasło</label>
                <div class="md-form input-group mb-3">
                    <input id="oldPassword" class="form-control form-control-lg" [type]="typeOldPassword" required #oldPassword (keypress)="resetOldPasswordError($event)" />
                   <div class="input-group-append" *ngIf="hiddenOldPassword" title="Pokaż hasło" (click)="showOldPassword()">
                     <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-fill"></i></span>
                   </div>
                   <div class="input-group-append" *ngIf="!hiddenOldPassword" title="Ukryj hasło" (click)="hideOldPassword()">
                    <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-slash-fill"></i></span>
                  </div>
                 </div>
                 <div *ngIf="showOldPasswordErrorMessage" class="mb-1">
                  <h5 style="color: #871717">{{ errorMessage }}</h5>
                </div>
              </div>

              <div class="form-outline">
                <label class="form-label text-light" for="newPassword">Nowe hasło</label>
                <div class="md-form input-group mb-3">
                    <input id="newPassword" class="form-control form-control-lg" [type]="typeNewPassword" required #newPassword (keypress)="resetNewPasswordError($event)" />
                   <div class="input-group-append" *ngIf="hiddenNewPassword" title="Pokaż hasło" (click)="showNewPassword()">
                     <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-fill"></i></span>
                   </div>
                   <div class="input-group-append" *ngIf="!hiddenNewPassword" title="Ukryj hasło" (click)="hideNewPassword()">
                    <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-slash-fill"></i></span>
                  </div>
                 </div>
                 <div *ngIf="showNewPasswordErrorMessage" class="mb-1">
                  <h5 style="color: #871717">{{ errorMessage }}</h5>
                </div>
              </div>

              <div class="form-outline mb-5">
                <label class="form-label text-light" for="password">Potwierdź hasło</label>
                <div class="md-form input-group mb-3">
                    <input id="confirmPassword" class="form-control form-control-lg" [type]="typeConfirmPassword" required #confirmPassword (keypress)="resetConfirmPasswordError($event)" />
                   <div class="input-group-append" *ngIf="hiddenConfirmPassword" title="Pokaż hasło" (click)="showConfirmPassword()">
                     <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-fill"></i></span>
                   </div>
                   <div class="input-group-append" *ngIf="!hiddenConfirmPassword" title="Ukryj hasło" (click)="hideConfirmPassword()">
                    <span class="input-group-text md-addon cursor-pointer"><i class="bi bi-eye-slash-fill"></i></span>
                  </div>
                 </div>
                 <div *ngIf="showConfirmPasswordErrorMessage" class="mb-1">
                  <h5 style="color: #871717">{{ errorMessage }}</h5>
                </div>
              </div>
              
              <button class="btn btn-success btn-lg btn-block" type="submit">Zmień hasło</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
